
#g {
    height:330px;
    width:95%;
    border: 3px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: white;
	text-align:center;
	
}
.card {
	height: 21.5%;
	width: 21.5%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	float:left;
}

.black {
	background-color: black;
	height: 21.5%;
	width: 21.5%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	float:left;
}

.navy {
	background-color: navy;
	height: 21.5%;
	width: 21.5%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	float:left;
}

.red {
	height: 21.5%;
	width: 21.5%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	float:left;
	background-color: red;
}

.blue {
	height: 21.5%;
	width: 21.5%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	float:left;
	background-color: blue;
}

.green {
	height: 21.5%;
	width: 21.5%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	float:left;
	background-color: green;
}

.orange {
	height: 21.5%;
	width: 21.5%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	float:left;
	background-color: orange;
}

.yellow {
	height: 21.5%;
	width: 21.5%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	float:left;
	background-color: yellow;
}

.lime {
	height: 21.5%;
	width: 21.5%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	float:left;
	background-color: lime;
}


.cardOut {
	height: 21.5%;
	width: 21.5%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	float:left;
	background-color: #CCC !important;
}


.btn {
  background: #f77503;
  background-image: -webkit-linear-gradient(top, #f77503, #faaf76);
  background-image: -moz-linear-gradient(top, #f77503, #faaf76);
  background-image: -ms-linear-gradient(top, #f77503, #faaf76);
  background-image: -o-linear-gradient(top, #f77503, #faaf76);
  background-image: linear-gradient(to bottom, #f77503, #faaf76);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 21.5px 10px 21.5px;
  text-decoration: none;
}
